
* {
    font-family: 'Times New Roman', Arial, sans-serif;
}

h1, h2 {
    margin-bottom: 10px;
} 

.navigation {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color:#f3eee4
}

#index {
    margin-top: 100px;
}

#company_logo {
    width: 450px;
    height: auto;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin: 20px 20px 20px;
    margin-top: 70px;
    margin-right: 5px;
    padding: 10px 20px;
    border-radius: 5px;
}

nav a:hover {
    background-color:rgb(166, 217, 181)
} 

#slogan1 {
    margin-left: 120px;
    font-size: 80px;
    color:white
}

#slogan2 {
    margin-left: 70px;
    font-size: 60px;
    color:white
}

.slogan {
    margin-top: 20px;
}

.background {
    background-image: url("background_image.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.company-information {
    background-color: rgba(232, 249, 229, 0.866);
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.description {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px 10px;
}

.illustration {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.illustration img {
    margin-top: 40px;
    width: 100%;
    height: auto;
}
    
figcaption {
    text-align: center;
    font-size: 25px;
}

#company-details {
    font-size: 30px;
}

ol {
    list-style-type: none;
}

ul li {
    list-style-type: square;
}

.table {
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}

td:hover {
    background-color:rgb(215, 231, 172);
    cursor: pointer;
}

th {
    padding: 20px;
    background-color: #07d086
}

td {
    padding: 10px;
    background-color:rgb(243, 232, 232)
}